# vim: set ft=conf:
ConfigArgParse >= 0.10
PyYAML >= 3.11
mock >= 2.0 ; python_version < '3.3'
ordereddict >= 1.1 ; python_version < '2.7'
pytest >= 2.9
pytest-catchlog >= 1.2
pytest-colordots >= 0.1
pytest-flakes >= 1.0
pytest-localserver >= 0.3
pytest-pep257 >= 0.0.5
pytest-pep8 >= 1.0
pytest-pythonpath >= 0.7
pytest-remove-stale-bytecode >= 2.1 ; python_version > '2.7'
pytest-warnings >= 0.2
